
<!doctype html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/admin/images/logos/favicon.png}" />
  <link rel="stylesheet" th:href="@{/admin/css/styles.min.css}" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img th:src="@{/admin/images/logos/dark-logo.svg}"  width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Chuyển trang</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/product/category/page" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Chuyển đến trang chủ</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Quản lí tài khoản</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/account-form" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Thêm tài khoản</span>
            </a>
            <a class="sidebar-link" href="/admin/account-list" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Xem DS tài khoản</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Quản lí sản phẩm</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/product-form" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
              <span class="hide-menu">Thêm sản phẩm</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/product-list" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
              <span class="hide-menu">Xem DS sản phẩm</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Quản lí danh mục</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/category-form" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
              <span class="hide-menu">Thêm danh mục</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/category-list" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
              <span class="hide-menu">Xem DS danh mục</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Thống kê</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/report" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
              <span class="hide-menu">Thống kê sản phẩm</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">AUTH</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
              <span class="hide-menu">Login</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
              <span class="hide-menu">Register</span>
            </a>
          </li>
        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <img th:src="@{/admin/images/profile/user-1.jpg}" alt="" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-mail fs-6"></i>
                    <p class="mb-0 fs-3">My Account</p>
                  </a>
                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-list-check fs-6"></i>
                    <p class="mb-0 fs-3">My Task</p>
                  </a>
                  <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4 text-center">Thông kê đơn hàng</h5>
              <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Mã đơn hàng</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Tổng số lượng sản phẩm</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Số sản phẩm hiện có</h6>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <div th:each="lsReport : ${REPORT}" >
                    <tr>
                      <td class="border-bottom">
                        <div class="d-flex align-items-center gap-2">
                          <span class="badge bg-warning rounded-3 fw-semibold" th:text="${lsReport.group.id}"></span>
                        </div>
                      </td>
                      <td class="border-bottom">
                        <div class="d-flex align-items-center gap-2 ">
                          <span class="badge bg-primary rounded-3 fw-semibold" th:text="${lsReport.sum}"></span>
                        </div>
                      </td>
                      <td class="border-bottom">
                        <div class="d-flex align-items-center gap-2 ">
                          <span class="badge bg-primary rounded-3 fw-semibold" th:text="${lsReport.count}"></span>
                        </div>
                      </td>
                      <th class="border-bottom-0">
<!--                        <a class="btn btn-danger" th:href="@{/admin/admin-categoryForm/{id}(id=${category.id})}">Edit</a>-->
<!--                        <a class="btn btn-danger" th:href="@{/account/register/{username}(username=${account.username})}">Edit</a>-->
<!--                        <a class="btn btn-danger" th:href="'?btnDel=&username=' + ${category.id}">Del</a>-->
                      </th>
                    </tr>
                  </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-4">
          <a type="button" class="btn btn-primary m-1" th:href="@{/account/register}">Add More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/sidebarmenu.js}"></script>
<script th:src="@{/assets/js/app.min.js}"></script>
<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<!-- Code injected by live-server -->
<script>
  // <![CDATA[  <-- For SVG support
  if ('WebSocket' in window) {
    (function () {
      function refreshCSS() {
        var sheets = [].slice.call(document.getElementsByTagName("link"));
        var head = document.getElementsByTagName("head")[0];
        for (var i = 0; i < sheets.length; ++i) {
          var elem = sheets[i];
          var parent = elem.parentElement || head;
          parent.removeChild(elem);
          var rel = elem.rel;
          if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
          }
          parent.appendChild(elem);
        }
      }
      var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
      var address = protocol + window.location.host + window.location.pathname + '/ws';
      var socket = new WebSocket(address);
      socket.onmessage = function (msg) {
        if (msg.data == 'reload') window.location.reload();
        else if (msg.data == 'refreshcss') refreshCSS();
      };
      if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
        console.log('Live reload enabled.');
        sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
      }
    })();
  }
  else {
    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
  }
  // ]]>

</body>

</html>s